/*HEADER*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  color: #ff0000;
  border-radius: 0% 0% 3% 3%;
  background-color: rgba(29, 24, 49, 0.9);
  position: absolute;
  width: 100%;
  top: 0;
  text-decoration: none;

  .link {
    text-decoration: none;
    color: #ff0000;
  }

  .logo {
    width: 80px;
    border-radius: 10% 30% 50% 70%;
  }
}
